.navbar-nav
{
    margin-left: 0;
}

.navbar-nav a
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 16px;
    padding-left: 15px;
    color: rgb(38, 38, 38);
    font-size: 15px;
    font-weight: 100;
    line-height: 22px;   
}

.navbar-toggler-icon
{
    position: relative;
    float: right;
}

.spotlight-video-overlay
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 46vw;
    max-height: 900px;
    max-width: 1600px;
    border-radius: 20px;
    transition: opacity 0.2s ease-out;
    transform: translate(-2%, -8%);
    cursor: pointer;
}

.showcase
{
    background: black;
    color: white;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: calc(100% - 50px);
    padding: 200px 50px 200px;
    overflow: hidden;
    background-image: url("../images/spotlight-thumbnail.png");
    background-size: cover;
    background-position: center;
}

.featured-video-title 
{
    color: white;
    font-size: 60px;
    font-weight: 510;
    margin-bottom: 300px;
    text-align: center;
    text-shadow: 0px 0px 32px rgba(0,0,0,0.1);
}

.about
{
    padding: 2rem;
}

.about a
{
    display: table;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    line-height: 17px;
    margin-top: 6px;
}

.langue-selection-block
{
    padding-bottom: 2rem;
}

.footer
{

    color: #fff;
    background-color: #212529;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    display: table;
    padding-left: 14rem;
}

.footer a
{
    color: #fff;
    background-color: #212529;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 1rem;
}